@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  color: #0c0d11;
  background-color: #f3f5f9;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f3f5f9;
}
